:host{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.ml-4.bi{
    font-size: 2rem;
    &:hover{
        cursor: pointer;
    }
}
.sugerencia{
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 90%;
}