<div class="flex flex-col mx-auto">
  <h1 class="text-4xl font-bold mb-3 text-center mb-5">Contactame</h1>
  <form class="flex">
    <div>
      <div class="mb-3">
        <span class="bi bi-person-lines-fill"></span>
        <input type="text" placeholder="Nombre-Apellido" class="border-2 p-2 rounded-md ml-3">
      </div>
      <div class="mb-3">
        <span class="bi bi-envelope-at-fill"></span>
        <input type="text" placeholder="Correo" class="border-2 p-2 rounded-md ml-3">
      </div>
      <div class="mb-3">
        <span class="bi bi-briefcase"></span>
        <input type="text" placeholder="Asunto" class="border-2 p-2 rounded-md ml-3">
      </div>
      <div class="mb-3 text-center">
        <button class="bg-cyan-300 drop-shadow-md p-2 rounded-xl">Enviar</button>
      </div>
    </div>
    <div class="flex ml-4">
      <span class="bi bi-info-circle-fill"></span>
      <textarea rows="10" placeholder="Tu mensaje" class="border-2 p-2 rounded-md ml-3"></textarea>
    </div>
  </form>
</div>