<div class="flex flex-col mx-auto w-4/5">
  <h1 class="text-4xl font-bold mb-3 text-center mb-5">Contactame</h1>
  <form class="flex flex-wrap">
    <div class="basis-1/2">
      <div class="mb-3">
        <span class="bi bi-person-lines-fill"></span>
        <input type="text" placeholder="Nombre-Apellido" class="border-2 p-2 rounded-md ml-3 w-4/5">
      </div>
      <div class="mb-3">
        <span class="bi bi-envelope-at-fill"></span>
        <input type="text" placeholder="Correo" class="border-2 p-2 rounded-md ml-3 w-4/5">
      </div>
      <div class="mb-3">
        <span class="bi bi-briefcase"></span>
        <input type="text" placeholder="Asunto" class="border-2 p-2 rounded-md ml-3 w-4/5">
      </div>
    </div>
    <div class="flex grow justify-center">
      <span class="bi bi-info-circle-fill"></span>
      <textarea rows="5" cols="40" placeholder="Tu mensaje" class="border-2 p-2 rounded-md ml-3 mt-2"></textarea>
    </div>
    <div class="my-3 text-center basis-full">
      <button class="bg-cyan-300 drop-shadow-md px-4 py-2 rounded-xl text-2xl">Enviar</button>
    </div>
  </form>
</div>