<div class="flex flex-col mx-auto w-4/5">
  <h1 class="text-4xl font-bold mb-3 text-center mb-5">Contactame</h1>
  <form [formGroup]="formulario" (submit)="oir()" class="flex flex-wrap">
    <div class="basis-1/2">
      <div class="mb-3">
        <span class="bi bi-person-lines-fill"></span>
        <input type="text" formControlName="name" placeholder="Nombre-Apellido" class="border-2 p-2 rounded-md ml-3 w-4/5">
      </div>
      <div class="mb-3">
        <!-- -----------------uso del ng style---------------- -->
        <span [ngStyle]="{color: formulario.get('email')?.valid? 'black':'white'}" class="bi bi-envelope-at-fill"></span>
        <input type="email" formControlName="email" placeholder="Correo" class="border-2 p-2 rounded-md ml-3 w-4/5">
      </div>
      <div class="mb-3">
        <span class="bi bi-briefcase-fill"></span>
        <input type="text" formControlName="asunto" placeholder="Asunto" class="border-2 p-2 rounded-md ml-3 w-4/5">
      </div>
    </div>
    <div class="flex grow justify-center">
      <span class="bi bi-info-circle-fill"></span>
      <textarea formControlName="mensaje" rows="5" cols="40" placeholder="Tu mensaje" class="border-2 p-2 rounded-md ml-3 mt-2"></textarea>
    </div>
    <!-- --------------uso del ngclass------------------------- -->
    <div class="my-3 text-center basis-full">
      <button [disabled]="formulario.invalid" [ngClass]="formulario.valid? 'bg-cyan-300':'bg-cyan-100'" class="drop-shadow-md px-4 py-2 rounded-xl text-2xl">Enviar</button>
    </div>
  </form>
  <!-- --------------------ejemplo del ngIf------------------------->
  <p *ngIf="formulario.valid">MENSAJE VALIDADO</p>
</div>