<div class="perfil p-3">
  <img src="https://los40mx00.epimg.net/los40/imagenes/2016/07/16/actualidad/1468621304_870578_1468621692_noticia_normal.jpg">
</div>
<div class="descript p-3 flex flex-wrap">
  <h2 class="text-4xl font-bold basis-full">Soy Alexander Machicado G.</h2>
  <h3 class="text-xl basis-full">Estudiante de desarrollo web front-end</h3>
  <div class="mr-4">
    <p>Edad: </p>
    <p>Email: </p>
    <p>Direccion: </p>
    <p>Celular: </p>
  </div>
  <div>
    <p>27 años</p>
    <p>machicadogomezalexander_15@gmail.com</p>
    <p>Tacna-Perú Ca. Las Casuarinas Mz.50 Lt.19</p>
    <p>934846646</p>
  </div>
</div>
<div class="social text-4xl flex justify-evenly">
  <a href="#"><span class="bi bi-facebook"></span></a>
  <a href="#"><span class="bi bi-whatsapp"></span></a>
  <a href="#"><span class="bi bi-twitter"></span></a>
  <a href="#"><span class="bi bi-linkedin"></span></a>
  <a href="#"><span class="bi bi-google"></span></a>
</div>