:host{
    display: flex;
    flex-flow: row wrap;
    position: absolute;
    top: 12.5vh;
    left: 12.5vw;
    height: 75%;
    width: 75%;
    background-color: rgba(245, 245, 242, 0.719);
}
.perfil{
    width: 50%;

}
.descript{
    width: 50%;
}
.social{
    width: 100%;
}