  <div class="perfil">
    <img src="https://los40mx00.epimg.net/los40/imagenes/2016/07/16/actualidad/1468621304_870578_1468621692_noticia_normal.jpg">
  </div>
  <div class="descript">
    <h1 class="font-bold text-2xl">ALEXANDER MACHICADO GOMEZ</h1>
    <p class="font-bold">Extracto</p>
    <p class="pl-4">Busco una oportunidad profesional y creo que tengo las condiciones necesarias para aportar lo mejor de mi en el sector de Desarrollo Web. Siempre me han interesado los lenguajes de programacion y todo lo que tiene que ver con ello, tengo buenas habilidades comunicativas y empaticas para trabajar en equipo.
    </p>
    <p class="font-bold">Datos academicos</p>
    <ul class="list-disc pl-8">
      <li>Formacion basica y secundaria: Finalizada</li>
      <li>Curso de Capacidades tecnicas en desarrollo web front-end: En curso</li>
    </ul>
    <p class="font-bold">Mas informacion</p>
    <ul class="list-disc pl-8">
      <li>Total disponibilidad</li>
      <li>Incorporación inmediata</li>
    </ul>
    <p class="font-bold">Interes</p>
    <ul class="list-disc pl-8">
      <li>Libros</li>
      <li>Desarrollo Software</li>
      <li>Videojuegos</li>
    </ul>
  </div>
