<div class="basis-1/2 flex flex-col items-center contenedor">
  <a class="grow" href="https://dexametasona.github.io/curriculum/"><img src="https://images.vexels.com/media/users/3/140030/isolated/preview/521136d25b37386f49728b93d2e4e6fa-icono-de-cv.png"></a>
  <p>Proyecto1</p>
</div>
<div class="basis-1/2 flex flex-col items-center">
  <a class="grow" href="https://dexametasona.github.io/sincrono11/"><img src="https://previews.123rf.com/images/mrcocoa/mrcocoa1605/mrcocoa160501069/55935805-icono-de-desarrollo-de-proyectos-adecuados-para-informaci%C3%B3n-de-gr%C3%A1ficos-p%C3%A1ginas-web-y-medios-impreso.jpg"></a>
  <p>Proyecto2</p>
</div>
<div class="basis-1/2 flex flex-col items-center">
  <a class="grow" href="https://dexametasona.github.io/sincrono10/"><img src="https://previews.123rf.com/images/mrcocoa/mrcocoa1605/mrcocoa160501069/55935805-icono-de-desarrollo-de-proyectos-adecuados-para-informaci%C3%B3n-de-gr%C3%A1ficos-p%C3%A1ginas-web-y-medios-impreso.jpg"></a>
  <p>Proyecto3</p>
</div>
<div class="basis-1/2 flex flex-col items-center">
  <a class="grow" href="https://dexametasona.github.io/sincrono9/"><img src="https://previews.123rf.com/images/mrcocoa/mrcocoa1605/mrcocoa160501069/55935805-icono-de-desarrollo-de-proyectos-adecuados-para-informaci%C3%B3n-de-gr%C3%A1ficos-p%C3%A1ginas-web-y-medios-impreso.jpg"></a>
  <p>Proyecto4</p>
</div>