<div class="basis-1/2 flex flex-col items-center contenedor">
  <a class="grow" href="https://dexametasona.github.io/curriculum/"><img src="https://images.vexels.com/media/users/3/140030/isolated/preview/521136d25b37386f49728b93d2e4e6fa-icono-de-cv.png"></a>
  <p>Proyecto1</p>
</div>
<div class="basis-1/2 flex flex-col items-center">
  <a class="grow" routerLink=""><img src=""></a>
  <p>Proyecto2</p>
</div>
<div class="basis-1/2 flex flex-col items-center">
  <a class="grow" routerLink=""><img src=""></a>
  <p>Proyecto3</p>
</div>
<div class="basis-1/2 flex flex-col items-center">
  <a class="grow" routerLink=""><img src=""></a>
  <p>Proyecto4</p>
</div>